:root {
  --primary: #00000080;
  --secondary: #abababb3;
  --tertiary: #4c585c8f;
  --quaternary: #373737;
  --border-color: #e2e8f0;
  --ui-border: 3px solid #ffffff00;
  --ui-inventory-border-slot: 0px;
}

[data-theme='dark'] {
  --primary: #514a3c;
  --secondary: #beb998;
  --tertiary: #929977;
  --quaternary: #50493c;
  --border-color: #374151;
  --ui-border: 3px solid #fff;
  --ui-inventory-border-slot: 2px solid #ddd8c9;
}
